.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.table th,
.table td {
  background-color: var(--gray);
  font-size: 0.8rem; /* 크기를 조정 */
  text-align: center;
  padding: 0.5rem 0.2rem;
}

.table th {
  border-bottom: 1.3px solid black;
}

.table td {
  cursor: pointer;
  border-bottom: 1px solid var(--gray4);
}

.table td:nth-child(2) {
  text-align: left; /* 제목 열을 왼쪽 정렬 */
  padding-left: 1rem; /* 제목에 여백 추가 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  overflow: hidden; /* 공간을 초과한 텍스트 숨김 */
  text-overflow: ellipsis; /* 텍스트가 넘칠 경우 '...' 표시 */
  max-width: 200px; /* 최대 열 너비 설정 */
}
